h5{
    color: #2990CA;
    font-family:Intern;
}

img {
    max-width: 40px;
    max-height: 40px;
    margin-right: 15px
}

.navbar-brand{
    text-align: center;
    color: #2990CA;
    text-indent: 500%;
}

.col-3{
    position:absolute;
    width:100%;
    left:0;
    text-align:center;
    margin:auto;
    }


#create-demand-img{
    left:0;
    align-self: center;
    text-align:center;
    margin-top:30px;
    margin-bottom:10px;
    }

#home-img{
    left:0;
    align-self: center;
    text-align:center;
    margin-top:30px;
    margin-bottom:10px;
    }


#logout-img{
    left:0;
    align-self: center;
    text-align:center;
    margin-top:30px;
    margin-bottom:10px;
    }

    .nav-link{
        color:#2990CA!important;
        font-size: large;
    }

    .btn-outline-custom{
        color: #2990CA;
        border-color: #2990CA;
    }
    .btn-outline-custom:hover{
        color: white ;
        background-color: #2990CA;
    }