<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Municipio V.P.S.A - Denuncia</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"> <img src="/assets/home-3x.png">&nbsp; Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse">
           <!-- id="navbarSupportedContent"-->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Ordenanzas <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Covid-19</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Servicios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#"><fa-icon [icon]="faChevronRight"></fa-icon> &nbsp; Sugerencias</a>
                        <a class="dropdown-item" href="#"><fa-icon [icon]="faChevronRight"></fa-icon> &nbsp;Consultas</a>
                        <a class="dropdown-item" href="#"><fa-icon [icon]="faChevronRight"></fa-icon> &nbsp;Denuncias</a>

                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#"><span class="oi oi-chevron-right" title="icon name" aria-hidden="true"></span> <fa-icon [icon]="faChevronRight"></fa-icon> &nbsp;Reclamos</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contactanos..</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </nav>


    <form name="FormReg">
        <br />

        <div class="row pl-5">
            <div class="=ml-3 col-3 order-1 float-right" id="Icono"><fa-icon [icon]="faEdit"></fa-icon>

            </div>
                     <div class="=mx-auto col-6 order-2 float-right">
                <a id="Titulos">  Ingrese Informaci&oacute;n sobre la demanda. </a>
            </div>
            <div class="=col-3 order-3">&nbsp;</div>
        </div>

        <div class="row">
            <div class="col-12 order-3">
                <hr id="Linea"/>
            </div>
        </div>

            <div class="container mt-5">
              <div class="row">
                <div col-3>
                    <a> (*) Dato Requerido. </a>
                </div>
               <label for="sel1">&nbsp;&nbsp;&nbsp;&nbsp;</label>
                <select class="col-3 form-control" id="sel1" name="sellist1">
                  <option selected="selected">Ordenanza infringida</option>
                  <option>Ruidos Molestos</option>
                  <option>Baldio sin Mantenimiento</option>
                  <option>Basura en la vía Publica</option>
                  <option>Perror Sueltos</option>
                  <option>Destrucción de luminarias y/otros..</option>
                </select>
              </div>

                <div class="row mt-5" >
                  <label for="comment">(*) &nbsp; Descripción:</label>
                  <textarea required placeholder="Ingrese detalles de la demanda como por ejemplo, hora y circunstancias.." class="form-control" rows="7" id="comment" name="text"></textarea>
                </div>
                <div class="row mt-5">
                  <div col-4><a> Si conoce al infractor, por favor ingrese nombre y apellido </a></div>
                </div>
                <div class="row mt-3">
                  <!--Nombre  -->
                  <div class="col-xl-3 order-1"> &nbsp;&nbsp;&nbsp;&nbsp; </div>
                  <div class="pr-3 col-xl-3 order-2"><input type="text" id="Nombre" placeholder="Nombre" name="Nombre" class="form-control" r ng-model="Nombre"data-toggle="tooltip" data-placement="top" title="Nombre Infractor"/>
                  </div>
                  <!--Apellido-->
                  <div class="pl-3 col-xl-3 order-3"><input type="text" id="Apellido" placeholder="Apellido" name="Apellido" class="form-control" r ng-model="Apellido" data-toggle="tooltip" data-placement="top" title="Apellido Infractor"/>
                  </div>
                  <div class="col-xl-3 order-4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
              </div>

              <div class="mt-5 col-6"><a> Si posee imagenes probatorias, por favor adjuntelas.. </a></div>

              <div class="row">
                <div class="col-6 mt-3 input-group mb-3">
                <div class="input-group-prepend">

                  <span class="input-group-text"><fa-icon [icon]="faChevronRight"></fa-icon> &nbsp; Subir</span>
                </div>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile01"data-toggle="tooltip" data-placement="top" title="Inserte imagenes de su dispositivo móvil o pc">
                  <label class="custom-file-label" for="inputGroupFile01">.Imágenes...</label>
                </div>
              </div>
               </div>
            </div>

        <!-- Botones -->
        <div class="d-flex justify-content-center">
            <div class="row mt-5 botones col-lg-6 d-flex justify-content-around">
                <button class="btn btn-primary" ng-disabled="FormReg.Evento_nro.$error.pattern || FormReg.Horas.$error.pattern || FormReg.Eventos.$error.pattern " ng-click="Iniciar()"><span class="glyphicon glyphicon-fire"> </span>&nbsp; Generar Demanda </button>


            </div>
        </div>
    </form>
    </body>

    <br><br>





</html>
