
<router-outlet></router-outlet>

<!--

<app-denuncia *ngIf="mostrar_form_denuncia"><button (click)="OcultarDenuncia(false)" *ngIf="mostrar_form_denuncia">Ocultar Denuncia</button>
</app-denuncia>    -->
 <!-- Botones -->


 <!--
 <div class="d-flex justify-content-center">
  <div class="row mt-5 botones col-lg-6 d-flex justify-content-around">
      <button class="btn btn-primary" (click)="OcultarDenuncia(false)" *ngIf="mostrar_form_denuncia"> &nbsp; Generar Demanda </button>

  </div>
</div>
<button (click)="OcultarDenuncia(true)" *ngIf="!mostrar_form_denuncia">Mostrar Denuncia>m</button>
-->
