<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Small Business - Start Bootstrap Template</title>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!--<a class="navbar-brand" href="#"> &nbsp; Home</a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
       <!-- id="navbarSupportedContent"-->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Ordenanzas <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Covid-19</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Novedades</a>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Servicios..
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/denuncia-add">Denuncia</a>
                <a class="dropdown-item" href="#">Solicitudes</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Seguimiento de Reclamos</a>
                <a class="dropdown-item" href="#">Seguimiento de Solicitudes</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/empleados">Empleados</a>
          </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contactanos..</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>

          </form>
    </div>
</nav>


  <!-- Page Content -->
  <div class="container">

    <!-- Heading Row -->
    <div class="row align-items-center my-5">
      <div class="col-lg-7">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/VPSA.png" alt="">
      </div>
      <!-- /.col-lg-8 -->
      <div class="col-lg-5">
        <h1 class="font-weight-light"> Villa Parque Santa Ana</h1>
        <p>Este es un municipio del departamento Santa María en la provincia de Córdoba, Argentina. Se encuentra sobre la ruta provincial RP 5, a 11 km al noreste de la ciudad de Alta Gracia y a 25 km al suroeste de la capital provincial.
        </p>
        <a class="btn btn-primary" href="#">ver mas!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->

    <!-- Call to Action Well -->
    <div class="card text-white my-3 py-4 text-center">
      <div class="card-body"> <img src="../../assets/Candado.png" alt="">
         </div>
    </div>

    <!-- Content Row -->
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <p class="card-text"><img src="../../assets/Obras.jpg" alt="">Porque no nos quedamos en meras palabras, en este apartado te detallamos en todo lo que estamos trabajando acualmente, obras de infraestructura que estamos ejecutando, mantenimiento, y mejoras en la calidad de todo el pueblo .</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Obras en Ejecución</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <p class="card-text"><img src="../../assets/DEnuncia_Ciudadana.jpg" alt="">Los pobladores de Villa Parque Santa Ana Tenemos todos los mismos derechos y obligaciones. En caso que usted presencie un ilícito o incumpliemiento de una ordenanza puede denunciar el hecho, no dude en adjuntar pruebas fotográficas.</p>
          </div>
          <div class="card-footer">
            <a href="/denuncia-add" class="btn btn-primary btn-sm">Denuncias</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title"></h2>
            <p class="card-text"><img src="../../assets/reclamos.jpg" alt="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary btn-sm">Reclamos</a>
          </div>
        </div>
      </div>
      <!-- /.col-md-4 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; VPSA 2020</p>
    </div>
    <!-- /.container -->
  </footer>

</body>

</html>
