USE [master]
GO
/****** Object:  Database [M_VPSA]    Script Date: 09/04/2020 14:35:46 ******/
CREATE DATABASE [M_VPSA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'M_VPSA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL_2017\MSSQL\DATA\M_VPSA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'M_VPSA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQL_2017\MSSQL\DATA\M_VPSA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [M_VPSA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [M_VPSA]
GO
USE [M_VPSA]
GO
/****** Object:  Table [dbo].[DENUNCIA]    Script Date: 09/04/2020 14:35:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DENUNCIA](
	[Nro_Denuncia] [int] NOT NULL,
	[Fecha] [date] NULL,
	[Calle] [varchar](90) NULL,
	[Altura] [int] NULL,
	[Entre_Calle_1] [varchar](90) NULL,
	[Entre_Calle_2] [varchar](90) NULL,
	[Descripcion] [varchar](2500) NULL,
	[Cod_Tipo_Denuncia] [int] NULL,
	[Cod_Estado_Denuncia] [int] NULL,
	[Legajo] [int] NULL,
	[Ip_Denunciante] [varchar](18) NULL,
PRIMARY KEY CLUSTERED 
(
	[Nro_Denuncia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 09/04/2020 14:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[Legajo] [int] NOT NULL,
	[Cod_Rol] [int] NULL,
	[legajo_Superior] [int] NULL,
	[Dni] [varchar](8) NULL,
	[Tipo_Documento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Legajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTADO_DENUNCIA]    Script Date: 09/04/2020 14:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTADO_DENUNCIA](
	[Cod_Estado_Denuncia] [int] NOT NULL,
	[Nombre] [varchar](80) NULL,
	[Descripcion] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Estado_Denuncia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERSONA]    Script Date: 09/04/2020 14:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONA](
	[Dni] [varchar](8) NOT NULL,
	[Tipo_Documento] [int] NOT NULL,
	[Nombre] [varchar](60) NULL,
	[Apellido] [varchar](85) NULL,
	[Cuil] [varchar](14) NULL,
	[Fecha_Nac] [date] NULL,
	[Cod_Area] [varchar](7) NULL,
	[Telefono] [varchar](12) NULL,
	[Email] [varchar](95) NULL,
PRIMARY KEY CLUSTERED 
(
	[Dni] ASC,
	[Tipo_Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRUEBA_DENUNCIA]    Script Date: 09/04/2020 14:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRUEBA_DENUNCIA](
	[Nro_Prueba] [int] IDENTITY(1,1) NOT NULL,
	[Fecha_Registro] [date] NULL,
	[Nombre_Archivo] [varchar](88) NULL,
	[Nro_Denuncia] [int] NULL,
	[Imagen_Prueba] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[Nro_Prueba] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROL]    Script Date: 09/04/2020 14:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL](
	[Cod_Rol] [int] NOT NULL,
	[Nombre] [varchar](25) NULL,
	[Cod_Tipo_Acceso] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_ACCESO]    Script Date: 09/04/2020 14:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_ACCESO](
	[Cod_Tipo_Acceso] [int] NOT NULL,
	[Nombre] [varchar](25) NULL,
	[Descripcion] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Tipo_Acceso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DENUNCIA]    Script Date: 09/04/2020 14:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DENUNCIA](
	[Cod_Tipo_Denuncia] [int] NOT NULL,
	[Nombre] [varchar](80) NULL,
	[Descripcion] [varchar](250) NULL,
	[Tiempo_Max_Tratamiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Cod_Tipo_Denuncia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_DOCUMENTO]    Script Date: 09/04/2020 14:35:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_DOCUMENTO](
	[Tipo_Documento] [int] NOT NULL,
	[Nombre] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Tipo_Documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DENUNCIA]  WITH CHECK ADD FOREIGN KEY([Cod_Estado_Denuncia])
REFERENCES [dbo].[ESTADO_DENUNCIA] ([Cod_Estado_Denuncia])
GO
ALTER TABLE [dbo].[DENUNCIA]  WITH CHECK ADD FOREIGN KEY([Cod_Tipo_Denuncia])
REFERENCES [dbo].[TIPO_DENUNCIA] ([Cod_Tipo_Denuncia])
GO
ALTER TABLE [dbo].[DENUNCIA]  WITH CHECK ADD FOREIGN KEY([Legajo])
REFERENCES [dbo].[EMPLEADO] ([Legajo])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([Dni], [Tipo_Documento])
REFERENCES [dbo].[PERSONA] ([Dni], [Tipo_Documento])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([Cod_Rol])
REFERENCES [dbo].[ROL] ([Cod_Rol])
GO
ALTER TABLE [dbo].[EMPLEADO]  WITH CHECK ADD FOREIGN KEY([legajo_Superior])
REFERENCES [dbo].[EMPLEADO] ([Legajo])
GO
ALTER TABLE [dbo].[PERSONA]  WITH CHECK ADD FOREIGN KEY([Tipo_Documento])
REFERENCES [dbo].[TIPO_DOCUMENTO] ([Tipo_Documento])
GO
ALTER TABLE [dbo].[PRUEBA_DENUNCIA]  WITH CHECK ADD FOREIGN KEY([Nro_Denuncia])
REFERENCES [dbo].[DENUNCIA] ([Nro_Denuncia])
GO
ALTER TABLE [dbo].[ROL]  WITH CHECK ADD FOREIGN KEY([Cod_Tipo_Acceso])
REFERENCES [dbo].[TIPO_ACCESO] ([Cod_Tipo_Acceso])
GO
USE [master]
GO
